<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">Home Page</a>
    <h1>About</h1>
    <p>Hello this is a fun app to past your paragraph or text and see how many words are there and know the frequency of which word in your paragraph or text</p>

</body>
</html>